APP_ENV=production

DB_HOST=127.0.0.1
DB_NAME=d043fb41
DB_USER=dbuser
DB_PASS=dbpass
DB_PORT=3306

UPLOAD_DIR=/var/www/bilder.computer-extra.de/data
PUBLIC_URL=https://bilder.computer-extra.de/data

CORS_ORIGIN=https://frontend.computer-extra.de

API_KEY=SET_A_STRONG_RANDOM_API_KEY_HERE

LOG_LEVEL=debug

CACHE_DIR=/tmp/api-cache
CACHE_TTL=60

